<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="imagenes/logo.png">
        <title>404</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet"  href= "respuestas.css"> 
    </head>
    <body>
        <div class="container-flex">
            <div class="row  justify-content-between" style=" margin: 10px;">
                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <button class = "btn1 btn-primary btn-sm" onclick = "location.href='/preguntas'">Preguntas</a>
                    
                    <button class = "btn1 btn-primary btn-sm" onclick="location.href='/sin_responder'">Sin Responder</button>
                    
                    <button class = "btn1 btn-primary btn-sm" onclick="location.href='/user'">Usuarios</button>
                </div>

                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <h1 style="text-align:initial">404</h1>
                </div>

                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="data:img/png;base64,<%= usuario.foto %>" id = "imgperfil" style ="margin-left: 65%" >
                    <h5 style = "margin-left: 60%; color: rgb(8, 82, 143);"><%= usuario.nickname %></h5>
                    <button class = "btn2 btn-primary btn-sm" style = "margin-left: 60%" onclick="location.href='/'">Log Out</button>
                </div>
            </div> 
        
            <div class="row justify-content-center" style="margin-top: 5%">
                <form action="/busqueda" method="POST">
                    <button class = "btn3 btn-primary btn-sm" type="submit">Buscar</button>
                    <input type ="text" size="118" style="border-radius: 8px;" name = "cuerpo">
                </form>    
            </div>
            
            <div class="panel panel-info">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="panel-heading" id="hea">
                            <h4 h4 class="text-center" style="color: rgb(8, 82, 143); font-weight: bolder; margin-top: 2%; margin-right: 100%;"><%= pregunta.titulo %></h4>
                        </div>

                        <div class="panel-body" id="bod">
                            <p class="text-justify"><%=pregunta.cuerpo%></p>
                            <% pregunta.etiquetas.forEach( etiqueta => { %>
                                <% if (etiqueta != ''){%>
                                    <form action="/etiqueta" method="POST">
                                        <input type="hidden" name="etiqueta" value="<%=etiqueta%>">
                                        <button class = "btn3 btn-primary btn-sm" type="submit"><%=etiqueta%></button>
                                    </form>
                                    
                                <%}%>
                            <% }); %> 
                        </div>
                        
                            <div class="panel-footer" style="margin-left: 90%" id = "te">
                                <h5 class="text-center" id = "te">Formulada <%= pregunta.fecha %></h5>
                                <img src="data:img/png;base64,<%= pregunta.foto %>" id = "imgperfil1" style ="margin-left: 44%; margin-top: 1%;" >
                                <h5 class="text-center" style = "margin-top: 1%" id = "te"><%= pregunta.nickname %></h5>
                            </div>
                        
                    </div>
                </div>
            </div>

<!----------------------     parte respuesta               ------------------------>

            <div class="panel panel-info">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="panel-heading" id="hea">
                            <h4 h4 class="text-center" style="color: rgb(8, 82, 143); font-weight: bolder; margin-top: 2%; margin-right: 100%;"><%= respuestas.cont%> respuestas</h4>
                        </div>
                        <% respuestas.forEach( respuesta => { %>
                            <div class="panel-body" id="bod" style="margin-left: 5%;">
                                <p class="text-justify"><%= respuesta.respuesta %></p>
                            </div>
                            <div class="panel-footer" style="margin-left: 90%">
                                <h5 class="text-center" id = "te">Formulada <%= respuesta.fecha %></h5>
                                <img src="data:img/png;base64,<%= respuesta.foto %>" id = "imgperfil1" style ="margin-left: 44%; margin-top: 1%;" >
                                <h5 class="text-center" style = "margin-top: 1%" id = "te"><%= respuesta.nickname %></h5>
                            </div>
                        <% }); %> 
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h4 class="text-center" style="color: rgb(8, 82, 143); font-weight: bolder; margin-top: 2%; margin-right: 100%; margin-bottom: 5%;">Tú Respuesta</h4>
                        <form action="/procesar_formulario_respuesta " method = "POST">
                            <textarea class ="form-control"name="respuesta" type="text" size= "90" rows="5" style="margin-bottom: 3%;"></textarea>
                            <input type="hidden" name="idPregunta" value="<%=pregunta.idPregunta%>">
                            <button class = "btn btn-primary" style="margin-bottom: 10%; align-self: center;" type="submit" id = "margin" style="width: auto;">Publica tu respuesta</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
    </body>
</html>